[submodule "oshit_kernel"]
	path = oshit_kernel
	url = git@github.com:willson0v0/oshit_kernel
[submodule "oshit_usrlib"]
	path = oshit_usrlib
	url = git@github.com:willson0v0/oshit_usrlib.git
[submodule "usr_hello_world"]
	path = usr_hello_world
	url = git@github.com:willson0v0/usr_hello_world
[submodule "kflash.py"]
	path = kflash.py
	url = git@github.com:kendryte/kflash.py.git
