[submodule "oshit_kernel"]
	path = oshit_kernel
	url = git@github.com:willson0v0/oshit_kernel
[submodule "oshit_usrlib"]
	path = oshit_usrlib
	url = git@github.com:willson0v0/oshit_usrlib.git
[submodule "kflash.py"]
	path = kflash.py
	url = git@github.com:kendryte/kflash.py.git
[submodule "testsuits-for-oskernel"]
	path = testsuits-for-oskernel
	url = git@github.com:oscomp/testsuits-for-oskernel.git
